*{  
    box-sizing: border-box;
    font-family: cursive;
    
}
body{
    background-color: rgb(114, 176, 178);
    color:rgb(41, 61, 61);
    display: flex;
    justify-content: center;
    align-items: center;
}